<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_for [:admin, employee] do |form| %>
        <% if employee.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

          <ul>
            <% employee.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end  %>
      <div class="card shadow rounded-0">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :first_name %>
                <%= form.text_field :first_name, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :last_name %>
                <%= form.text_field :last_name, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :contact %>
                <%= form.text_field :contact, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :profile_pic %>
                <%= form.text_field :profile_pic, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :date_of_birth %>
                <%= form.date_field :date_of_birth, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :gender %>
                  <%= form.select :gender, options_for_select(Employee::GENDER, selected: @employee.gender), { prompt: "Select Gender" }, { class: "form-control rounded-0" } %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :marital_status %>
                  <%= form.select :marital_status, options_for_select(Employee::MARITAL_STATUS, selected: @employee.marital_status), { prompt: "Select Status" }, { class: "form-control rounded-0" } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :email %>
                <%= form.text_field :email, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :password %>
                <%= form.text_field :password, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :password_confirmation %>
                <%= form.text_field :password_confirmation, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :permanent_address %>
                <%= form.text_field :permanent_address, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :current_address %>
                <%= form.text_field :current_address, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :city %>
                <%= form.text_field :city, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :state %>
                <%= form.text_field :state, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :country %>
                <%= form.country_select  :country, {}, {class: "form-control rounded-0"} %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :nationality %>
               <%= form.country_select  :nationality, {}, {class: "form-control rounded-0"} %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :designation %>
                <%= form.text_field :designation, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :date_of_joining %>
                <%= form.date_field :date_of_joining, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
               <%= form.label :role %>
                  <%= form.select :role, options_for_select(Employee::ROLE, selected: @employee.role), { prompt: "Select Role" }, { class: "form-control rounded-0" } %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :skype_username %>
                <%= form.text_field :skype_username, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :linkedin_profile_url %>
                <%= form.text_field :linkedin_profile_url, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :github_username %>
                <%= form.text_field :github_username, class: "form-control rounded-0" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :aadhar_uid %>
                <%= form.text_field :aadhar_uid, class: "form-control rounded-0" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= form.label :pan_uid %>
                <%= form.text_field :pan_uid, class: "form-control rounded-0", class: "form-control rounded-0" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= form.label :job_description %>
                <%= form.text_area :job_description, class: "form-control rounded-0", rows: "7" %>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= form.submit class: "btn btn-primary rounded-0" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

