<%= form_for [:admin, education_credential] do |form| %>
  <% if education_credential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education_credential.errors.count, "error") %> prohibited this education_credential from being saved:</h2>

      <ul>
      <% education_credential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :course %>
    <%= form.text_field :course %>
  </div>

  <div class="field">
    <%= form.label :university %>
    <%= form.text_field :university %>
  </div>

  <div class="field">
    <%= form.label :percentage %>
    <%= form.text_field :percentage %>
  </div>

  <div class="field">
    <%= form.label :course_type %>
    <%= form.text_field :course_type %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
