<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <%= form_for [:admin, education_credential] do |form| %>
        <% if education_credential.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(education_credential.errors.count, "error") %> prohibited this education_credential from being saved:</h2>
            <ul>
              <% education_credential.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="card shadow rounded-0">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :course %>
                  <%= form.text_field :course, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :university %>
                  <%= form.text_field :university, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :percentage %>
                  <%= form.text_field :percentage, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :course_type %>
                  <%= form.text_field :course_type, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= form.label :user_id %>
                  <%= form.select :user_id, options_for_select(User.all.map { |user| [user.name, user.id] }, selected: education_credential.user ), { prompt: "Select User" }, { class: "form-control rounded-0" } %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="actions">
                  <%= form.submit class: "btn btn-primary rounded-0 shadow" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

