<div class="nested-fields mb-5">
  <div class="card shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :title %>
            <br/>
            <%= f.text_field :title, class: "form-control rounded-0" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :status %>
            <%= f.select :status, options_for_select(Task::STATUS, selected: f.object.status), { prompt: "Select Status" }, { class: "form-control rounded-0" } %>
          </div>
        </div>
      </div>
      <div class="input-group-append float-right">
        <%= link_to_remove_association f, class: "btn btn-danger rounded-0" do %>
          <i class="mdi mdi-delete"></i> Remove Task
        <% end %>
      </div>
    </div>
  </div>
</div>
