<p id="notice"><%= notice %></p>
<div class="container mb-5">
  <div class="col-md-4 offset-4">
    <div class="card shadow">
      <div class="card-body">
        <p>
          <strong>In time:</strong>
          <%= @daily_status.in_time %>
        </p>

        <p>
          <strong>Out time:</strong>
          <%= @daily_status.out_time %>
        </p>

        <p>
          <strong>Break:</strong>
          <%= @daily_status.break %>
        </p>
        <%= link_to 'Edit', edit_admin_daily_status_path(@daily_status), class: "btn btn-info rounded-0" %> |
        <%= link_to 'Back', admin_daily_statuses_path, class: "btn btn-secondary rounded-0" %>
      </div>
    </div>
  </div>
</div>