<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= form_for @user, url: :home_update_profile, method: :patch do |f| %>
        <% if @user.errors.present? %>
          <% @user.errors.full_messages.each do |message| %>
            <p><%= message %></p>
          <% end %>
        <% end %>
        <div class="card shadow rounded-0 mt-4 mb-3">
          <div class="card-body">
            <h5 class="text-muted">Personal Information</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :contact %>
                  <%= f.text_field :contact, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :profile_pic %>
                  <%= f.file_field :profile_pic %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :date_of_birth %>
                  <%= f.date_field :date_of_birth, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :gender %>
                  <%= f.text_field :gender, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card shadow rounded-0 mt-5 mb-3">
          <div class="card-body">
            <h5 class="text-muted">Account Information</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Email %>
                  <%= f.text_field :email, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :Password %>
                  <%= f.password_field :password, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label 'Password Confirmation' %>
                  <%= f.password_field :password_confirmation, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow rounded-0 mt-5 mb-3">
          <div class="card-body">
            <h5 class="text-muted">Address Information</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :permanent_address %>
                  <%= f.text_field :permanent_address, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :current_address %>
                  <%= f.text_field :current_address, class: "form-control rounded-0"  %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :city %>
                  <%= f.text_field :city, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :state %>
                  <%= f.text_field :state, class: "form-control rounded-0"  %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :country %>
                  <%= f.text_field :country, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :nationality %>
                  <%= f.text_field :nationality, class: "form-control rounded-0"  %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card shadow rounded-0 mt-5 mb-3">
          <div class="card-body">
            <h5 class="text-muted">Personal Information</h5>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :designation %>
                  <%= f.text_field :designation, class: "form-control rounded-0" %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :date_of_joining %>
                  <%= f.date_field :date_of_joining, class: "form-control rounded-0" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label :job_description %>
                  <%= f.text_area :job_description, class: "form-control rounded-0", rows: "7" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mt-5 mb-5">
            <%= f.submit "Update Profile", class: "btn btn-primary rounded-0 shadow" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="card shadow rounded-0 mt-4 mb-3">
        <div class="card-body">
          <div class="text-center">
            <%= image_tag "user-dummy.png", class: "img-fluid rounded-circle", style: "width:50%;" %>
            <h6 class="font-weight-bold mt-2"><%= current_user.email %></h6>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary rounded-0 shadow" %>
            <%= link_to "Home", root_path, class: "btn btn-sm btn-primary rounded-0 shadow" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
