<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-10 mx-md-auto">
        <div class="row">
          <div class="col-md-4 text-center">
            <%= image_tag "user-dummy.png", class: "img-fluid rounded-circle" %>
            <h6 class="font-weight-bold mt-2"><%= @employee.email %></h6>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary" %>
            <%= link_to "View Profile", profile_path, class: "btn btn-sm btn-primary" %>
          </div>
          <div class="col-md-8">
            <h2 class="">My Daily Status Feed</h2>
            <%= link_to "Add Daily Status", new_daily_status_path, class: "btn btn-sm btn-primary" %>
            <h5 class="mt-2">Total hours this week</h5>
            <span class="badge badge-primary">9 hours</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 mx-md-auto">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>In time</th>
              <th>Out time</th>
              <th>Break</th>
              <th>Status Date</th>
              <th>Total Hours</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @daily_statuses.each do |daily_status| %>
              <tr>
                <td><%= daily_status.in_time %></td>
                <td><%= daily_status.out_time %></td>
                <td><%= daily_status.break %></td>
                <td><%= daily_status.status_date %></td>
                <td><%= daily_status.total_working_hours %></td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm">Actions</button>
                    <button 
                    type="button" 
                    class="btn btn-primary btn-sm dropdown-toggle dropdown-toggle-split"
                    id="dropdownMenuReference" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false" 
                    data-reference="parent">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <%= link_to "Show", daily_status, class: "dropdown-item" %>
                      <%= link_to "Edit", edit_daily_status_path(daily_status), class: "dropdown-item" %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>  
    </div>
  </div>
</div>
