<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-4 col-12 col-sm-12 col-lg-4">
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Personal Information</h6>
                <%= image_tag "user-dummy.png", class: "img-fluid rounded-circle mb-3", style: "width:50%;" %>
              </div>
              <p>
                <strong>First Name:</strong>
                <%= @employee.first_name %>
              </p>
              <p>
                <strong>Last Name:</strong>
                <%= @employee.last_name %>
              </p>
              <p>
                <strong>Contact:</strong>
                <%= @employee.contact %>
              </p>
              <p>
                <strong>Email:</strong>
                <%= @employee.email %>
              </p>
              <p>
                <strong>Date of Birth:</strong>
                <%= @employee.date_of_birth %>
              </p>
              <p>
                <strong>Gender:</strong>
                <%= @employee.gender %>
              </p>
              <p>
                <strong>Marital Status:</strong>
                <%= @employee.marital_status %>
              </p>
              <%= link_to "Edit Personal Information", edit_personal_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#personalInfoModal", remote: true } %>
            </div>
          </div>
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Address Information</h6>
              </div>
              <p>
                <strong>Permanent Address:</strong>
                <%= @employee.permanent_address %>
              </p>
              <p>
                <strong>Current Address:</strong>
                <%= @employee.current_address %>
              </p>
              <p>
                <strong>City:</strong>
                <%= @employee.city %>
              </p>
              <p>
                <strong>State:</strong>
                <%= @employee.state %>
              </p>
              <p>
                <strong>Country:</strong>
                <%= @employee.country %>
              </p>
              <p>
                <strong>Nationality:</strong>
                <%= @employee.nationality %>
              </p>
              <%= link_to "Edit Address Information", edit_address_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#addressInfoModal", remote: true } %>
            </div>
          </div>
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Job Information</h6>
              </div>
              <p>
                <strong>Designation:</strong>
                <%= @employee.designation %>
              </p>
              <p>
                <strong>Date of Joining:</strong>
                <%= @employee.date_of_joining %>
              </p>
               <p>
                <strong>Role:</strong>
                <%= @employee.role %>
              </p>
               <p>
                <strong>Skype Username:</strong>
                <%= @employee.skype_username %>
              </p>
               <p>
                <strong>Linkedin Profile Url:</strong>
                <%= @employee.linkedin_profile_url %>
              </p>
               <p>
                <strong>GitHub UserName:</strong>
                <%= @employee.github_username %>
              </p>
               <p>
                <strong>Aadhar Uid:</strong>
                <%= @employee.aadhar_uid %>
              </p>
               <p>
                <strong>Pan Uid:</strong>
                <%= @employee.pan_uid %>
              </p>
              <p>
                <strong>Job Description:</strong>
                <%= @employee.job_description %>
              </p>
              <%= link_to "Edit Job Information", edit_job_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#jobInfoModal", remote: true } %>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12 col-lg-8">
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary shadow rounded-0" %>
              <%= link_to "Home", root_path, class: "btn btn-primary shadow rounded-0" %>
            </div>
          </div>
          <% if @user.education_credentials.present? %>
            <div class="card shadow rounded-0 mt-5 mb-5">
              <div class="card-body">
                <h4 class="text-center text-muted">My Education Credentials</h4>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Board/University</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.education_credentials.each do |edu| %>
                      <tr>
                        <td><%= edu.course %></td>
                        <td><%= edu.course_type %></td>
                        <td><%= edu.university %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

          <% if @employee.relatives.present? %>
            <div class="card shadow rounded-0 mt-5 mb-5">
              <div class="card-body">
                <h4 class="text-center text-muted">My Relatives</h4>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Relation</th>
                      <th>Contact</th>
                      <th>Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @user.relatives.each do |relative| %>
                      <tr>
                        <td><%= relative.name %></td>
                        <td><%= relative.relation %></td>
                        <td><%= relative.contact_number %></td>
                        <td><%= relative.address %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<div 
  class="modal fade" 
  id="jobInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="jobInfoModalLabel" 
  aria-hidden="true">
</div>

<div 
  class="modal fade" 
  id="addressInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="addressInfoModalLabel" 
  aria-hidden="true">
</div>

<div 
  class="modal fade" 
  id="personalInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="personalInfoModalLabel" 
  aria-hidden="true">
</div>