<div class="container">
  <div class="col-md-8 offset-4">
    <div class="card shadow">
      <p id="notice"><%= notice %></p>
      <div  class="card-img-top">
        <%= @user.profile_pic%>
      </div>       
      <div class="card-body">
        <p>
          <strong>First name:</strong>
          <%= @user.first_name %>
        </p>
        <p>
          <strong>Last name:</strong>
          <%= @user.last_name %>
        </p>
        <p>
          <strong>Contact:</strong>
          <%= @user.contact %>
        </p>
        <p>
          <strong>Designation:</strong>
          <%= @user.designation %>
        </p>
        <p>
          <strong>Date of joining:</strong>
          <%= @user.date_of_joining %>
        </p>
        <p>
          <strong>date_of_birth:</strong>
          <%= @user.date_of_birth %>
        </p>
        <p>
          <strong>Job Description:</strong>
          <%= @user.job_description %>
        </p>
        <p>
          <strong>Permanent Address:</strong>
          <%= @user.permanent_address %>
        </p>
        <p>
          <strong>Current Address:</strong>
          <%= @user.current_address %>
        </p>
        <p>
          <strong>City:</strong>
          <%= @user.city %>
        </p>
        <p>
          <strong>State:</strong>
          <%= @user.state %>
        </p>
        <p>
          <strong>Country:</strong>
          <%= @user.country %>
        </p>
        <p>
          <strong>Nationality:</strong>
          <%= @user.nationality %>
        </p>

        <p>
          <strong>Gender:</strong>
          <%= @user.gender %>
        </p>
      </div>
      <div class="card-footer float-right">
        <%= link_to 'Edit', '/edit-profile', class: "btn btn-primary" %> 
        <%= link_to 'Back', root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
