<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-12">
      <div class="row">
        <div class="col-md-4 col-12 col-sm-12 col-lg-4">
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Personal Information</h6>
                <%= image_tag "user-dummy.png", class: "img-fluid rounded-circle mb-3", style: "width:50%;" %>
              </div>
              <p>
                <strong>Name:</strong>
                <%= @user.name %>
              </p>
              <p>
                <strong>Contact:</strong>
                <%= @user.contact %>
              </p>
              <p>
                <strong>Email:</strong>
                <%= @user.email %>
              </p>
              <p>
                <strong>Date of Birth:</strong>
                <%= @user.date_of_birth %>
              </p>
              <p>
                <strong>Gender:</strong>
                <%= @user.gender %>
              </p>
              <%= link_to "Edit Personal Information", edit_personal_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#personalInfoModal", remote: true } %>
            </div>
          </div>
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Address Information</h6>
              </div>
              <p>
                <strong>Permanent Address:</strong>
                <%= @user.permanent_address %>
              </p>
              <p>
                <strong>Current Address:</strong>
                <%= @user.current_address %>
              </p>
              <p>
                <strong>City:</strong>
                <%= @user.city %>
              </p>
              <p>
                <strong>State:</strong>
                <%= @user.state %>
              </p>
              <p>
                <strong>Country:</strong>
                <%= @user.country %>
              </p>
              <p>
                <strong>Nationality:</strong>
                <%= @user.nationality %>
              </p>
              <%= link_to "Edit Address Information", edit_address_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#addressInfoModal", remote: true } %>
            </div>
          </div>
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <div class="text-center">
                <h6 class="text-muted font-weight-bold">Job Information</h6>
              </div>
              <p>
                <strong>Designation:</strong>
                <%= @user.designation %>
              </p>
              <p>
                <strong>Date of Joining:</strong>
                <%= @user.date_of_joining %>
              </p>
              <p>
                <strong>Job Description:</strong>
                <%= @user.job_description %>
              </p>
              <%= link_to "Edit Job Information", edit_job_info_path, class: "btn btn-primary rounded-0 shadow mb-3 mt-3", data: { toggle: "modal", target: "#jobInfoModal", remote: true } %>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-12 col-sm-12 col-lg-8">
          <div class="card shadow rounded-0 mt-5 mb-5">
            <div class="card-body">
              <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary shadow rounded-0" %>
              <%= link_to "Home", root_path, class: "btn btn-primary shadow rounded-0" %>
            </div>
          </div>
          <% if @user.education_credentials.present? %>
            <div class="card shadow rounded-0 mt-5 mb-5">
              <div class="card-body">
                <h4 class="text-center text-muted">My Education Credentials</h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div 
  class="modal fade" 
  id="jobInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="jobInfoModalLabel" 
  aria-hidden="true">
</div>

<div 
  class="modal fade" 
  id="addressInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="addressInfoModalLabel" 
  aria-hidden="true">
</div>

<div 
  class="modal fade" 
  id="personalInfoModal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="personalInfoModalLabel" 
  aria-hidden="true">
</div>