<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-md-4 offset-4">
    <div class="card shadow">
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @relative.name %>
        </p>
        <p>
          <strong>Relation:</strong>
          <%= @relative.relation %>
        </p>

        <p>
          <strong>Contact number:</strong>
          <%= @relative.contact_number %>
        </p>

        <p>
          <strong>Address:</strong>
          <%= @relative.address %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @relative.user %>
        </p>
        <%= link_to 'Edit', edit_admin_relative_path(@relative), class: "btn btn-info rounded-0" %> 
        <%= link_to 'Back', admin_relatives_path, class: "btn btn-secondary rounded-0" %>
      </div>
    </div>
  </div>
</div>


