<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Apps impact daily status application" />
    <meta name="keywords" content="bootstrap, rails, hr-node, administrative app, hr-application" />
    <meta name="author" content="codedthemes" />
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'devise_user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'devise_user', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="fix-menu">
        
  <%= yield %>

  </body>
</html>
